*.apk
src/Meridian/.vs/Meridian.sqlite
src/Meridian/UpgradeLog.htm
src\Meridian\Droid\Resources\Resource.designer.cs
src\Meridian\Meridian.TestHarness.Droid\Resources\Resource.designer.cs
*~
src/Meridian/Resource.designer.cs
*.Resource.designer.cs
*.designer.*


#build
[Oo]bj/
[Bb]in/
packages/
TestResults/

# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db
*.db
*.designer.cs
*.bak
*.designer.*
Resource.designer.cs

#Mac bundle stuff
*.dmg
*.app

#resharper
*_Resharper.*
*.Resharper

#dotCover
*.dotCover

